body {
  font-family: Arial, sans-serif;
  background-color: #f7f8fc;
  text-align: center;
  padding: 50px;
  color: #000000;
}

h1 {
  color: #ff009d;
}

#quiz-container {
  background-color: rgb(251, 216, 255);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: auto;
}

input {
  padding: 8px;
  margin-top: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #ff008c;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background 0.3s;
}

button:hover {
  background-color: #ff5db6;
}

#feedback {
  margin-top: 15px;
  font-weight: bold;
}

#score {
  margin-top: 10px;
  font-style: italic;
  color: #7f8c8d;
}
